*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 229, 241);
}

.box{
    width: 560px;
    height: 420px;
    font-family: 'Mukta', sans-serif;
    border-radius: 12px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heading{
    width: 100%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.3rem;
}

.country{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country label{
    font-size: 1.4rem;
    padding-right: 30px;
    font-weight: 600;
}

.country input{
    width: 55%;
    height: 30px;
    padding-left: 10px;
    color: rgb(78, 77, 77);
    border-radius: 8px;
    border: 0.5px solid gray;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.box .btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .btn button{
    width: 90px;
    height: 33px;
    font-size: 1rem;
    background:linear-gradient(rgb(240, 0, 92),rgb(194, 5, 5)) rgb(253, 0, 21);
    color: #fff;
    border: none;
    border-radius: 12px;
}

.box .btn button:hover{
    cursor: pointer;
    width: 98px;
    height: 35px;
    font-size: 1.12rem;
    background:rgb(231, 0, 39) ;
}

.box .para{
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para p{
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}   


#message-box{
    width: 590px;
    height: 440px;
    font-family: 'Roboto Slab', serif;
    border-radius: 12px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 2;
}

.message-heading{
    width: 100%;
    height: 85px;
    text-align: center;
    color: rgb(85, 83, 83);
    line-height: 85px;
    font-size: 1.3rem;
}

#message-box .inner-box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-box .inner-box label{
    font-size: 1.2rem;
    padding-right: 30px;
    font-weight: 500;
    color: rgb(70, 70, 238);
}

#message-box .inner-box input{
    width: 55%;
    height: 28px;
    padding-left: 10px;
    color: rgb(78, 77, 77);
    border-radius: 8px;
    border: 0.2px solid rgb(175, 175, 175);
}

#message-box .btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-box .btn button{
    width: 80px;
    height: 30px;
    font-size: 1rem;
    background:linear-gradient(rgb(117, 240, 3),rgb(5, 100, 10)) rgb(101, 253, 0);
    color: #fff;
    border: none;
    border-radius: 12px;
}

#message-box .btn button:hover{
    cursor: pointer;
    width: 88px;
    height: 33px;
    font-size: 1.12rem;
    background:rgb(119, 255, 8) ;
}


@media (max-width:940px){
    #message-box{
        width: 520px;
        height: 410px;
    }

    .message-heading{
        height: 85px;
        line-height: 85px;
        font-size: 1.2rem;
    }

    #message-box .inner-box label{
        font-size: 1rem;
        padding-right: 25px;
    }

    #message-box .inner-box input{
        width: 50%;
        height: 25px;
        padding-left: 8px;
    }
}

@media (max-width:400px){
    #message-box{
        width: 510px;
        height: 405px;
    }

    .message-heading{
        height: 82px;
        line-height: 82px;
        font-size: 1.18rem;
    }

    #message-box .inner-box label{
        font-size: 0.7rem;
        padding-right: 22px;
    }

    #message-box .inner-box input{
        width: 44%;
        height: 23px;
        padding-left: 7px;
        
    }
}



